.reservas-realizada{
    display: flex;
    flex-direction: column;
}
.cardreserva{
    background-color: rgb(236, 236, 236);
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 800px;
    align-items: center;
    margin: 0 auto; 
}
.botao-cancelar-reserva{
    background-color: royalblue;
    color: aliceblue;
    padding: 0.3rem;
    border: none;
    border-radius: 5px;
}
.reserva-atividade{
    display: flex;
    justify-content:space-between;
    background-color: rgb(203, 202, 202);
    max-width: 100%;
    width: 600px;
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 20px;
}
.tituloReserva{
    font-size: 24px;
    text-align: center;
}